/*Estilos para la página 404 NOT FOUND*/
/*Estilos para la página 404 NOT FOUND*/
/*Estilos para la página 404 NOT FOUND*/


.main__notFound{
    width: 100%;
    height: auto;
    background: black;
}

.not__found{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30%;
}

.not__found div img{
    display: block;
    width: 15%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.not__found span{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color:orange;
    font-weight: bold;
    margin-top: 3%;
}

.not__found p.error__404{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:orange;
    font-weight: bold;
    margin-bottom: 4%;
}

.not__found p.contenido__error{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: white;
    width: 60%;
    text-align: center;
}

.not__found .btn{
    font-family: 'Encode Sans SC', sans-serif;
}

@media (max-width:768px) {
    .not__found > span {
        font-size: 30px;
    }

    .not__found > p.error__404 {
        font-size: 25px;
    }

    .not__found div img{
        width: 30%;
        height: auto;
    }
}